{% for i in range(0, items|len) %}
{% if items[i].source_type == 'muster' %}
<table style="width: 50mm; height: 28mm; {% if i < (items|len - 1) %}page-break-after: always;{% endif %} font-size: 12px; ">
    <tr>
        <td style="margin-top: 0px; "></td>
        <td style="margin-top: 0px; font-size: 10px; ">
            <b>{{ items[i].name }}</b><br>   
            {% if items[i].bezeichnung %}{{ _(items[i].bezeichnung) }}<br>{% endif %}  
            {% if items[i].d_stoffe and items[i].d_stoffe|len > 0 %}{{ items[i].d_stoffe }}<br>{% endif %}
            {% if items[i].d_pailletten and items[i].d_pailletten|len > 0 %}{{ items[i].d_pailletten }}<br>{% endif %}
            {% if items[i].d_applikationen and items[i].d_applikationen|len > 0 %}{{ items[i].d_applikationen }}<br>{% endif %}
            {% if items[i].d_prints and items[i].d_prints|len > 0 %}{{ items[i].d_prints }}{% endif %}
        </td>
    </tr>
</table>
{% else %}
<table style="width: 50mm; height: 28mm; {% if i < (items|len - 1) %}page-break-after: always;{% endif %} font-size: 12px; ">
    <tr>
        <td style="margin-top: 0px; "></td>
        <td style="margin-top: 0px; font-size: 10px; ">
            <b>{{ items[i].name }}</b><br>   
            {% if items[i].bezeichnung %}{{ _(items[i].bezeichnung) }}{% endif %}<br><br><br><br>
        </td>
    </tr>
</table>
{% endif %}
{% endfor %}
