{% for i in range(0, delivery_notes|len) %}
<table style="width: 100mm; height: 40mm; page-break-after: always; font-size: 12px; ">
    <tr>
        <td style="margin-top: 0px; "></td>
        <td style="margin-top: 0px; "><b>{{ delivery_notes[i].customer_name }}</b><br>
        {{ _("Delivery Note") }}: {{ delivery_notes[i].delivery_note }}
        {%- if delivery_notes[i].po_no %}, {{ delivery_notes[i].po_no }}{% endif %} ({{ date }})<br>
        <p style="font-size: 10px; ">{% if delivery_notes[i].zusatzbezeichnung %}{{ delivery_notes[i].zusatzbezeichnung }}<br>{% endif -%}
        {{ delivery_notes[i].address_line1 }}<br>
        {% if delivery_notes[i].address_line2 %}{{ delivery_notes[i].address_line2 }}<br>{% endif -%}
        {% if delivery_notes[i].address_line3 %}{{ delivery_notes[i].address_line3 }}<br>{% endif -%}
        {% if delivery_notes[i].pincode %}{{ delivery_notes[i].pincode }} {% endif -%}{{ delivery_notes[i].city }}<br>
        {{ delivery_notes[i].country }}</p>
        </td>
    </tr>
</table>
{% endfor %}
<!-- add detail labels -->
{% set vars = {'counter': 0} %}
{% for d in details %}<!-- per delivery note -->
  {% for i in d['items'] %}<!-- per item position -->
    {% for c in range(0, i['anzahl']|int) %}<!-- per unit -->

{% if vars.update({'counter': vars.counter + 1}) %}{% endif %}
<table style="width: 100mm; height: 40mm; {% if vars.counter < (detail_count) %}page-break-after: always;{% endif %} font-size: 12px; ">
    <tr>
        <td style="margin-top: 0px; "></td>
        <td style="margin-top: 0px; "><b>{{ d.customer_name }}</b><br>
        {{ _("Delivery Note") }}: {{ d.name }}
        {%- if d.po_no %}, {{ d.po_no }}{% endif %} ({{ vars.counter }}/{{ detail_count|int}})<br>
        <p style="font-size: 10px; ">
            <b>{{ i.item_code }}: {{ i.item_name }}</b><br>
            {% if i.d_stoffe %}{{ i.d_stoffe }}<br>{% endif %}
            {% if i.d_pailletten %}{{ i.d_pailletten }}<br>{% endif %}
            {% if i.d_applikationen %}{{ i.d_applikationen }}<br>{% endif %}
            {% if i.d_prints %}{{ i.d_prints }}<br>{% endif %}
            {{ _("Qty") }}: 1x{{ i.verkaufseinheit }} {{ i.uom }}<br>
            Made in Austria
        </td>
    </tr>
</table>

    {% endfor %}
  {% endfor %}
{% endfor %}
