{% for i in range(0, items|len) %}
<table style="width: 98mm; height: 46mm; {% if i < (items|len - 1) %}page-break-after: always;{% endif %} font-size: 12px; ">
    <tr>
	 <td colspan=2 style="text-align: center; font-size: 18px; ">HOH - HOFERHECHT STICKEREIEN</td>
    </tr>
    <tr>
        <td style="margin-top: 0px; width: 80%; font-size: 10px; text-align: left;">
            <b>{% if items[i].item_code %}{{ items[i].item_code }}{% endif %} <br>
            {% if items[i].item_name %}{{ items[i].item_name }}{% endif %}</b><br>
            {% if items[i].d_stoffe %}{{ items[i].d_stoffe }}{% endif %}<br>
            {% if items[i].d_pailletten %}{{ items[i].d_pailletten }}{% endif %}<br>
            {% if items[i].d_applikationen %}{{ items[i].d_applikationen }}{% endif %}<br>
            {% if items[i].d_prints %}{{ items[i].d_prints }}{% endif %}<br>
            {{ _("Qty") }}: 1 x 5 yds<br>
            Made in Austria
        </td>
        <td style="text-align: right;">
            <img src="https://data.libracore.ch/phpqrcode/api/qrcode.php?content={{ items[i].item_code }}&ecc=H&size=6&frame=2" style="height: 18mm !important; width: 18mm !important; margin: 0px !important; padding: 0px !important;" >
        </td>
    </tr>
</table>
{% endfor %}
