{% for i in range(0, items|len) %}
<table style="width: 100mm; height: 40mm; {% if i < (items|len - 1) %}page-break-after: always;{% endif %} font-size: 12px; ">
    <tr>
        <td style="margin-top: 0px; "><b>{{ title }}</b><br>
            {% if items[i].stoffbreite_von > 0 and items[i].stoffbreite_von > 0 %}
                {{ _("Fabric Width") }}: {{ items[i].stoffbreite_von or 0 }} / {{ items[i].stoffbreite_bis or 0 }} cm<br>{% endif %}
            {% if items[i].fertigbreite_von > 0 and items[i].fertigbreite_bis > 0 %}
                {{ _("Embroidered Width") }}: {{ items[i].fertigbreite_von or 0 }} / {{ items[i].fertigbreite_bis or 0 }} cm<br>
            {% endif %}
            {% if items[i].material %}{{ items[i].material }}<br>{% endif %}
            {% if items[i].source_type == 'muster' %}{{ ((items[i].gewicht*1000)|int or "n/a") }} g/lfm<br>
            {% else %}{{ ((items[i].gewicht)|int or "n/a") }} g{% if items[i].item_group != "Applikationen" %}/lfm{% endif %}<br>{% endif %}
            {{ items[i].pflegesymbole or "n/a" }}<br>
            <table style="width: 100%; ">
                <tr>
                    <td style="text-align: left; margin: 0px !important; width: 50%; font-size: 11px;"></td>
                    <td style="text-align: right; margin: 0px; padding-right: 10px; width: 50%; ">
                        {% for p in rates %}
                            {{ p.option }}: {{ "{:,.2f}".format(p.rate).replace(",", "'") }} {{ currency }}{% if items[i].item_group != "Applikationen" %}/lfm{% endif %}<br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div style= "position: absolute; top: 160px; left: 15px; font-size: 11px;">{{ date }}</div>
{% endfor %}
