{% for i in range(0, items|len) %}
<table style="font-size: 10px !important; margin: 0px !important; padding: 0px !important; width: 74mm; height: 49mm; {% if i < (items|len - 1) %}page-break-after: always;{% endif %} ">
    <tbody>
        <tr>
            <td style="width: 50% !important; margin: 0px !important; padding: 0px !important; ">
                {{ items[i].sales_order }}
            </td>
            <td style="text-align: right; ">
                {{ items[i].customer_name or "Hoferhecht Stickereien" }}
           </td>
        <tr>
            <td colspan=2>
            <b>{{ items[i].production_item }}</b><br>
            
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; ">
                {{ items[i].stoff }}<br><br>
                {{ items[i].name }}<br>
                {{ items[i].stickmaschine }}
            </td>
            <td style="width: 15mm !important; margin: 0px !important; padding: 0px !important; text-align: right;">
                <img src="https://data.libracore.ch/phpqrcode/api/qrcode.php?content={{ items[i].url }}&ecc=H&size=6&frame=2" style="height: 30mm !important; width: 30mm !important; margin: 0px !important; padding: 0px !important; text-align: right;" />
            </td>
        </tr>
    </tbody>
</table>
{% endfor %}
