{% for i in range(0, items|len) %}
<table style="width: 100mm; height: 40mm; {% if i < (items|len - 1) %}page-break-after: always;{% endif %} font-size: 12px; ">
    <tr>
        <td style="margin-top: 0px; "></td>
        <td style="margin-top: 0px; "><b>{{ customer_name }}</b><br>
        {{ _("Sales Order") }}: {{ name }}
        {%- if po_no %}, {{ po_no }}{% endif %}<br>
        <p style="font-size: 10px; ">
            <b>{{ items[i].item_code }}: {{ items[i].item_name }}</b><br>
            {{ items[i].d_stoffe }}<br>
            {{ items[i].d_pailletten }}<br>
            {{ items[i].d_applikationen }}<br>
            {{ items[i].d_prints }}<br>
            {{ _("Qty") }}: {{ items[i].anzahl|int }}x{{ items[i].verkaufseinheit }} {{ items[i].uom }}<br>
            Made in Austria
        </td>
    </tr>
</table>
{% endfor %}
