{% for i in range(0, items|len) %}
<table style="width: 100mm; height: 40mm; {% if i < (items|len - 1) %}page-break-after: always;{% endif %} ">
    <tr>
        <td colspan=2 style="text-align: center; margin: 0px !important; padding: 0px !important; ">
            <img src="https://www.hoh.at/files/logo_hoh6c59ff.jpg" style="width: 50mm;" />
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px; margin: 0px !important; padding: 0px !important; ">
            {{ _("Design no") }}: {{ items[i].item_code }}<br>
            {{ _("Item") }}: {{ items[i].item_name }}<br>
            {{ _("Fabric") }}: {{ items[i].stoff }}<br>
            {{ _("Sequins") }}: {{ items[i].pailletten }}<br>
            {{ _("Width") }}: {{ items[i].fertigbreite_von }} - {{ items[i].fertigbreite_bis }}<br>
            {{ _("Qty") }}: {{ items[i].qty }}<br>
            {{ _("Made in Austria") }}
        </td>
        <td style="margin: 0px !important; padding: 0px !important; text-align: right;">
            <img src="https://data.libracore.ch/phpqrcode/api/qrcode.php?content={{ items[i].item_code }}&ecc=H&size=6&frame=2" style="height: 15mm !important; width: 15mm !important; margin: 0px !important; padding: 0px !important;" />
        </td>
    </tr>
</table>
{% endfor %}
