{% extends "templates/web.html" %}

{% block page_content %}
<div class="row">
    <h1>{{ _("Quotation") }}</h1>
</div>

<style>
td {
    padding: 6px;
    vertical-align: top;
}

.row {
    margin-bottom: 20px;
}
</style>

<!--  IMAGE MODAL -->
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

function show_modal(src, caption) {
  modal.style.display = "block";
  modalImg.src = src;
  captionText.innerHTML = caption;
}
</script>

<style>
 /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 
</style>

<div class="row">
    <table style="width: 100%; ">
        <tr>
            <td style="border: 1px solid silver; ">{{ _("Customer") }}</td>
            <td style="border: 1px solid silver; ">{{ customer_name }} ({{ customer }})</td>
        </tr>
        <tr>
            <td style="border: 1px solid silver; ">{{ _("Date") }}</td>
            <td style="border: 1px solid silver; ">{{ frappe.utils.get_datetime(angebotsdatum).strftime('%d.%m.%Y') }}</td>
        </tr>
        {% if valid_until %}
        <tr>
            <td style="border: 1px solid silver; ">{{ _("Valid until") }}</td>
            <td style="border: 1px solid silver; ">
                {{ frappe.utils.get_datetime(valid_until).strftime('%d.%m.%Y') }}
            </td>
        </tr>
        {% endif %}
    </table>
</div>

<div class="row">
    <h2>{{ _("Items") }}</h2>
</div>

<div class="album py-5 bg-light">
        <div class="container_cards">
          <div class="row">
          {% for m in muster %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div style="width: 100%; padding-top: 120%; background-image: url('{{ item.image }}'); background-size: 100%; position: relative; "  onclick="show_modal('{{ m.image or m.dessin_image }}', '{{ m.bemusterung }}');"></div>
                <div class="card-body">
                  <p class="card-text">
                  {{ _("Stoffbreite") }}: {{ m.stoffbreite_von }} - {{ m.stoffbreite_bis }}<br>
                  {{ _("Fertigbreite") }}: {{ m.fertigbreite_von }} - {{ m.fertigbreite_bis }}<br>
                  {{ _("Zusammensetzung") }}: {{ m.zusammensetzung }}<br>
                  {{ _("Country of Origin") }}: {{ m.country_of_origin or "Austria" }}<br>
                  {% if m.remarks %}{{ m.remarks }}<br>{% endif %}
                  {{ m.pflegesymbole }}
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="show_modal('{{ m.image or m.dessin_image }}', '{{ m.bemusterung }}');">{{ m.bemusterung }}</button>
                    </div>
                    <small class="text-muted">
                    {{ "{:,.0f}".format(m.rate).replace(",", "'") }} 
                    {{ currency }}/{{ m.uom }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          
          {% endfor %}
          </div>
          
        </div>
</div>
            
<div class="row">
    <h2>{{ _("Remarks") }}</h2>
</div>

<div class="row">
    <p>{{ remarks or "" }}</p>
</div>

{% endblock %}
